In [20]:
import pandas as pd
import pylab as pl
import seaborn as sns

In [21]:
pd.DataFrame([[1,2],[3,4]])

   0  1
0  1  2
1  3  4