In [1]:
import pandas as pd
import numpy as np

###import pybrain as pb
from pybrain.tools.shortcuts import buildNetwork
from pybrain.supervised.trainers import BackpropTrainer
from pybrain.datasets import SupervisedDataSet
from pybrain.structure import SigmoidLayer
from pybrain.structure import LinearLayer
from pybrain.structure import SoftmaxLayer

from sklearn import linear_model
from sklearn import tree
from sklearn import metrics
from sklearn import preprocessing
from sklearn.model_selection import train_test_split, cross_val_score

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import QuantileTransformer
from sklearn.preprocessing import PowerTransformer

import pickle
import json

import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
from sklearn.tree import export_graphviz

pd.set_option('display.precision', 3);
%matplotlib inline

import numpy as np
from scipy.stats import norm
from sklearn.linear_model import LinearRegression
import json

# Загрузка данных

In [2]:
dataTEST = pd.read_csv("./WV_test.csv", # путь к файлу, используй автодотолнение
                   sep=',', # разделитель данных в файле
                   header=0 # номер строки с заголовками. header='None', если заголовки отсутствуют
                  )
dataTEST_Norm = pd.read_csv("./WVNorm_test.csv", # путь к файлу, используй автодотолнение
                   sep=',', # разделитель данных в файле
                   header=0 # номер строки с заголовками. header='None', если заголовки отсутствуют
                  )

In [3]:
dataTEST.shape

(12059, 22)

In [4]:
dataTEST.columns

Index([u'Unnamed: 0', u'BOROUGH', u'NEIGHBORHOOD', u'BUILDING CLASS CATEGORY',
       u'TAX CLASS AT PRESENT', u'BLOCK', u'LOT', u'EASE-MENT',
       u'BUILDING CLASS AT PRESENT', u'ADDRESS', u'APARTMENT NUMBER',
       u'ZIP CODE', u'RESIDENTIAL UNITS', u'COMMERCIAL UNITS', u'TOTAL UNITS',
       u'LAND SQUARE FEET', u'GROSS SQUARE FEET', u'YEAR BUILT',
       u'TAX CLASS AT TIME OF SALE', u'BUILDING CLASS AT TIME OF SALE',
       u'SALE DATE', u'SALE PRICE'],
      dtype='object')

In [5]:
features = ['RESIDENTIAL UNITS', 'TAX CLASS AT TIME OF SALE']
target = ['SALE PRICE']

In [6]:
dataTEST[:2]

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE DATE,SALE PRICE
0,13152,1,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1484,1109,,R4,515 EAST 72ND STREET,...,1,0,1,-,-,1985,2,R4,2017-04-25 00:00:00,1055000
1,1605,4,BAYSIDE,01 ONE FAMILY DWELLINGS,1,6167,22,,A1,35-34 212TH STREET,...,1,0,1,4000,1970,1920,1,A1,2016-09-07 00:00:00,800000

In [7]:
dataTEST_Norm[:2]

,Unnamed: 0,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE
0,0.493,0.00,0.091,0.122,0.857,0.0,0.0,0.0,0.984,0.333,0.046
1,0.060,0.75,0.378,0.002,0.972,0.0,0.0,0.0,0.952,0.000,0.035

In [8]:
dataTEST.describe()

,Unnamed: 0,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE
count,12059.000,12059.000,12059.000,12059.000,12059.000,12059.000,12059.000,12059.000,12059.000,12059.000,1.206e+04
mean,10169.199,3.197,4672.837,461.460,10882.433,1.943,0.052,1.994,1837.964,1.349,1.177e+06
std,7384.827,1.248,3743.815,708.877,634.034,4.170,0.330,4.262,460.495,0.508,1.828e+06
min,4.000,1.000,1.000,1.000,0.000,1.000,0.000,1.000,0.000,1.000,1.000e+00
25%,3853.000,3.000,1494.000,28.000,10312.000,1.000,0.000,1.000,1920.000,1.000,4.500e+05
50%,8307.000,3.000,4003.000,61.000,11213.000,1.000,0.000,1.000,1935.000,1.000,6.900e+05
75%,16076.500,4.000,6816.000,1029.000,11358.000,2.000,0.000,2.000,1986.000,2.000,1.125e+06
max,26661.000,5.000,16319.000,9099.000,11694.000,109.000,7.000,111.000,2016.000,4.000,2.300e+07

In [9]:
x_test = dataTEST.drop(columns=target)
y_test = dataTEST[target]
x_test_Norm = dataTEST_Norm.drop(columns=target)
y_test_Norm = dataTEST_Norm[target]

In [10]:
x_test[:2]

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE DATE
0,13152,1,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1484,1109,,R4,515 EAST 72ND STREET,...,10021,1,0,1,-,-,1985,2,R4,2017-04-25 00:00:00
1,1605,4,BAYSIDE,01 ONE FAMILY DWELLINGS,1,6167,22,,A1,35-34 212TH STREET,...,11361,1,0,1,4000,1970,1920,1,A1,2016-09-07 00:00:00

In [11]:
x_test_Norm[:2]

,Unnamed: 0,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
0,0.493,0.00,0.091,0.122,0.857,0.0,0.0,0.0,0.984,0.333
1,0.060,0.75,0.378,0.002,0.972,0.0,0.0,0.0,0.952,0.000

# Шкалы стандартизации. Коэфф.

In [12]:
'''
RESIDENTIAL UNITS =   156.000000 истинное ~  [[0.80729167]] шкалированное 
RESIDENTIAL UNITS     =     2.000000 шкалированное  ~  [[385.]] истинное 

RESIDENTIAL UNITS
data_min_    =  [1.]
data_max_    =  [193.]
min_ =  [-0.00520833]
scale_ =  [0.00520833]
data_range_  =  [192.]
'''
# RESIDENTIAL UNITS
newScaler_Residential = MinMaxScaler(feature_range=(0, 1))

newScaler_Residential.data_min_    =  [1.]
newScaler_Residential.data_max_    =  [193.]
newScaler_Residential.min_ =  [-0.00520833]
newScaler_Residential.scale_ =  [0.00520833]
newScaler_Residential.data_range_  =  [192.]

# .transform( [[156.000000]] ) - привести значение 156.000000 к заданному диапазону
print "Нормализация ",newScaler_Residential.transform( [[156.000000]] )

# .inverse_transform( [[0.80729167]] ) - привести значение 0.80729167 к исходному диапазону
print "Денормализация ",newScaler_Residential.inverse_transform( [[0.80729167]])

Нормализация  [[0.80729115]]
Денормализация  [[156.00009984]]

In [13]:
'''
TAX CLASS AT TIME OF SALE =     1.000000 истинное ~  [[0.]] шкалированное 
TAX CLASS AT TIME OF SALE     =     4.000000 шкалированное  ~  [[13.]] истинное 

TAX CLASS AT TIME OF SALE
data_min_    =  [1.]
data_max_    =  [4.]
min_ =  [-0.33333333]
scale_ =  [0.33333333]
data_range_  =  [3.]

'''
# Temperature
newScaler_Tax = MinMaxScaler(feature_range=(0, 1))

newScaler_Tax.data_min_    =  [1.]
newScaler_Tax.data_max_    =  [4.]
newScaler_Tax.min_ =  [-0.33333333]
newScaler_Tax.scale_ =  [0.33333333]
newScaler_Tax.data_range_  =  [3.]


# .transform( [[1.000000]] ) - привести значение  1.000000 к заданному диапазону
print "Нормализация ",newScaler_Tax.transform( [[1.000000]] )

# .inverse_transform( [[0.]] ) - привести значение 0. к исходному диапазону
print "Денормализация ",newScaler_Tax.inverse_transform( [[0.]])

Нормализация  [[0.]]
Денормализация  [[1.]]

In [14]:
'''
SALE PRICE
data_min_    =  [1.]
data_max_    =  [23000000.]
min_ =  [-4.34782628e-08]
scale_ =  [4.34782628e-08]
data_range_  =  [22999999.]

SALE PRICE = 15000000.000000 истинное ~  [[0.6521739]] шкалированное 
SALE PRICE =     0.356000 шкалированное ~  [[8188000.644]] истинное 

'''
# SALE PRICE
newScaler_price = MinMaxScaler(feature_range=(0, 1))

newScaler_price.data_min_    =  [1.]
newScaler_price.data_max_    =  [23000000.]
newScaler_price.min_ =  [-4.34782628e-08]
newScaler_price.scale_ =  [4.34782628e-08]
newScaler_price.data_range_  =  [22999999.]

# .transform( [[15000000.000000]] ) - привести значение 15000000.000000 к заданному диапазону
print "Нормализация ",newScaler_price.transform( [[15000000.000000]] )

# .inverse_transform( [[0.6521739]] ) - привести значение 0.6521739 к исходному диапазону
print "Денормализация ",newScaler_price.inverse_transform( [[0.6521739]])

Нормализация  [[0.6521739]]
Денормализация  [[15000000.03400004]]

In [15]:
descriptionJson = open("./model_description.json",'r')
description = json.load(descriptionJson)

# Нейронная сеть. Файл pickle.

## Модель 2 вх., 1 вых.

In [16]:
x_sample_2 = x_test_Norm[features][0:1]
x_sample_2.values[0]

array([0.        , 0.33333333])

In [17]:
import pickle
fileName_net2 = "model_Net_3to1.data_pickle"

with open(fileName_net2, 'rb') as f:
    net2 = pickle.load(f)
print "Результат проверки. Нейронная сеть 2 вх., 1 вых. Файл pickle."
print net2.activate(x_sample_2.values[0])

Результат проверки. Нейронная сеть 2 вх., 1 вых. Файл pickle.
[0.08128018]

In [18]:
resultNet2 = net2.activate( x_sample_2.values[0] )
discNet2 = description['neuroNet2']

## Модель 12 вх., 1 вых.

In [19]:
x_sample_12 = x_test_Norm[0:1]
x_sample_12.values[0]

array([0.49304384, 0.        , 0.09088124, 0.12169138, 0.85693518,
       0.        , 0.        , 0.        , 0.98413485, 0.33333333])

In [20]:
import pickle
# имя файла
fileName_net12 = "model_Net_WV.data_pickle"

with open(fileName_net12, 'rb') as f:
    net12 = pickle.load(f)
print "Результат проверки. Нейронная сеть 2 вх., 1 вых. Файл pickle."
print net12.activate( x_sample_12.values[0] )

Результат проверки. Нейронная сеть 2 вх., 1 вых. Файл pickle.
[0.11549307]

In [21]:
resultNet12 = net12.activate( x_sample_12.values[0] )
discNet12 = description['neuroNet12']

## Линейная регрессия. Коэфф.

In [22]:
model_LinRegrMult           = linear_model.LinearRegression()
model_LinRegrMult.coef_      = np.array([-0.793, -0.244])
model_LinRegrMult.intercept_ = np.array([0.978])
y_pred_LinRegrMult_CLEAR           = model_LinRegrMult.predict(  x_test_Norm[features]  )


r2_Lin = metrics.r2_score(y_test_Norm, y_pred_LinRegrMult_CLEAR)
mse_Lin = metrics.mean_squared_error(y_test_Norm, y_pred_LinRegrMult_CLEAR)

print "R2   = ", r2_Lin
print "MAE  = ", mse_Lin, newScaler_price.inverse_transform( [[ r2_Lin ]])
print "RMSE  = {} {:,.3f} ".format( mse_Lin,newScaler_price.inverse_transform( [[ r2_Lin ]])[0][0])

R2   =  -127.5701516402329
MAE  =  0.8118090996530944 [[-2.93411336e+09]]
RMSE  = 0.811809099653 -2,934,113,356.451

In [23]:
print "Результат проверки. Линейная регрессия. Коэфф."
print "Проверочное ", y_test_Norm.iloc[0:1].values
print "Вычисленное ", y_pred_LinRegrMult_CLEAR[1] 

print "Проверочное ", newScaler_price.inverse_transform(y_test_Norm.iloc[0:1].values)
print "Вычисленное ", newScaler_price.inverse_transform([[y_pred_LinRegrMult_CLEAR[1]]])

Результат проверки. Линейная регрессия. Коэфф.
Проверочное  [[0.04586952]]
Вычисленное  0.978
Проверочное  [[1054999.99902757]]
Вычисленное  [[22494000.00126644]]

## Линейная регрессия. Файл pickle.

In [24]:
import pickle
fileName_LinRegrMult = "model_LinRegrMult.data_pickle"

with open(fileName_LinRegrMult, 'rb') as f:
    model_LinRegrMult = pickle.load(f)

y_pred_LinRegrMult_CLEAR = model_LinRegrMult.predict(  x_test_Norm[features]  )
discLinear = description['linear']
print "Результат проверки. Линейная регрессия. Файл pickle."

print "y_pred Исходной, ", "y_pred Загруженной, ", "delta, ", "delta < 0.000001"

for i in range (0, 10):
    delta = (y_test_Norm.iloc[i:i+1].values  - y_pred_LinRegrMult_CLEAR[i] ) 
    print y_test_Norm.iloc[i:i+1].values , y_pred_LinRegrMult_CLEAR[i], delta, delta < 0.000001

Результат проверки. Линейная регрессия. Файл pickle.
y_pred Исходной,  y_pred Загруженной,  delta,  delta < 0.000001
[[0.04586952]] [0.0765559] [[-0.03068638]] [[ True]]
[[0.03478257]] [0.03046478] [[0.00431778]] [[False]]
[[0.04913039]] [0.03985376] [[0.00927663]] [[False]]
[[0.0165217]] [0.03046478] [[-0.01394309]] [[ True]]
[[0.03608691]] [0.03515927] [[0.00092764]] [[False]]
[[0.03043474]] [0.03046478] [[-3.00424531e-05]] [[ True]]
[[0.04565213]] [0.03046478] [[0.01518735]] [[False]]
[[0.01469561]] [0.03046478] [[-0.01576917]] [[ True]]
[[0.05695648]] [0.03515927] [[0.02179721]] [[False]]
[[0.03275661]] [0.03515927] [[-0.00240266]] [[ True]]

## Дерево регрессии. Файл pickle.

In [25]:
import pickle
fileName_treeRegr_d6 = "model_treeRegr_d6.data_pickle"

with open(fileName_LinRegrMult, 'rb') as f:
    treeRegr_d6 = pickle.load(f)

y_pred_treeRegr_d6 = treeRegr_d6.predict(  x_test_Norm[features]  )
discTree = description['tree']
print "Результат проверки. Дерево регрессии"

print "y_pred Исходной, ", "y_pred Загруженной, ", "delta, ", "delta < 0.000001"

for i in range (0, 10):
    delta = (y_test_Norm.iloc[i:i+1].values  - y_pred_treeRegr_d6[i] ) 
    print y_test_Norm.iloc[i:i+1].values , y_pred_treeRegr_d6[i], delta, delta < 0.000001

Результат проверки. Дерево регрессии
y_pred Исходной,  y_pred Загруженной,  delta,  delta < 0.000001
[[0.04586952]] [0.0765559] [[-0.03068638]] [[ True]]
[[0.03478257]] [0.03046478] [[0.00431778]] [[False]]
[[0.04913039]] [0.03985376] [[0.00927663]] [[False]]
[[0.0165217]] [0.03046478] [[-0.01394309]] [[ True]]
[[0.03608691]] [0.03515927] [[0.00092764]] [[False]]
[[0.03043474]] [0.03046478] [[-3.00424531e-05]] [[ True]]
[[0.04565213]] [0.03046478] [[0.01518735]] [[False]]
[[0.01469561]] [0.03046478] [[-0.01576917]] [[ True]]
[[0.05695648]] [0.03515927] [[0.02179721]] [[False]]
[[0.03275661]] [0.03515927] [[-0.00240266]] [[ True]]

In [26]:
print y_pred_treeRegr_d6[0:1], newScaler_price.inverse_transform(y_pred_treeRegr_d6[0:1])

[[0.0765559]] [[1760786.64479264]]

In [27]:
print "Результат проверки. Нейронная сеть 2 вх., 1 вых. Файл pickle."
print resultNet2 ," | ", newScaler_price.inverse_transform([resultNet2])
print "\n"
for key in discNet2:
  print key," ",discNet2[key]

print "\n"
print "Результат проверки. Нейронная сеть 12 вх., 1 вых. Файл pickle."
print resultNet12," | ",newScaler_price.inverse_transform([resultNet12]),"\n"
for key in discNet12:
  print "@", key," ",discNet12[key]

print "\n"

print "Результат проверки. Линейная регрессия. Коэфф."
print y_test_Norm.iloc[0:1].values," | ",newScaler_price.inverse_transform(y_test_Norm.iloc[0:1].values)
#print "Вычисленное ", y_pred_LinRegrMult_CLEAR[1]," | "#, newScaler_quality.inverse_transform([[y_pred_LinRegrMult_CLEAR[1]]])
print "\n"
print "Результат проверки. Линейная регрессия. Файл pickle."
print y_pred_LinRegrMult_CLEAR[0:1], "|", newScaler_price.inverse_transform(y_pred_LinRegrMult_CLEAR[0:1])

print "\n"
for key in discLinear:
  print key," ",discLinear[key]
print "\n"
print "Результат проверки. Дерево регрессии"
print y_pred_treeRegr_d6[0:1], "|", newScaler_price.inverse_transform(y_pred_treeRegr_d6[0:1])

print "\n"

for key in discTree:
  print key," ",discTree[key]

Результат проверки. Нейронная сеть 2 вх., 1 вых. Файл pickle.
[0.08128018]  |  [[1869444.97568915]]


dataNormalised   True
target   [u'SALE PRICE']
r2   0.14647635451
name   Нейросеть 2вх, 1 вых. 75 итераций
mae   0.0333445912066
features   [u'RESIDENTIAL UNITS', u'TAX CLASS AT TIME OF SALE']
mse   0.0053892622303
typeML   Нейронная сеть


Результат проверки. Нейронная сеть 12 вх., 1 вых. Файл pickle.
[0.11549307]  |  [[2656341.4373372]]



Результат проверки. Линейная регрессия. Коэфф.
[[0.04586952]]  |  [[1054999.99902757]]


Результат проверки. Линейная регрессия. Файл pickle.
[[0.0765559]] | [[1760786.64479264]]


dataNormalised   True
target   [u'temp']
r2   0.206225805006
name   Множественная
mae   0.0329277937372
features   [u'RH', u'ISI']
mse   0.0050119962242
typeML   Линейная регрессия


Результат проверки. Дерево регрессии
[[0.0765559]] | [[1760786.64479264]]


dataNormalised   True
target   [u'temp']
r2   0.247328863596
name   Дерево регрессии
mae   0.0320355129981
features   [u'RH', u'ISI']
mse   0.00475246602562
typeML   Дерево регрессии

# Выводы

Был разработан проект сегмента базы знаний интеллектуальной системы, содержащей набор моделей, сформированных с помощью различных методов машинного обучения (модели линейной множественной регрессии, деревья решений, нейронные сети). Сопроводительная информация о моделях была сохранена в предыдущей работе в формате json.

Полученные результаты:

Нейронная сеть 2 вх., 1 вых. Файл pickle. [0.08128018]  |  [[1869444.97568915]]

Нейронная сеть 12 вх., 1 вых. Файл pickle. [0.11549307]  |  [[2656341.4373372]] 

Линейная регрессия. Коэфф. [[0.04586952]]  |  [[1054999.99902757]]

Линейная регрессия. Файл pickle.[[0.0765559]] | [[1760786.64479264]]

Дерево регрессии [[0.0765559]] | [[1760786.64479264]]